# Android
*.iml
.gradle/
.gradle-home*/
gradle-home*/
local.properties
.idea/
build/
android/app/build/
android/*/build/
*.ap_ *.apk *.aab
keystore*.jks *.keystore
android/debug.keystore

# Node / Backend
node_modules/
backend/dist/
backend/.env
backend/prisma/migrations/
npm-debug.log* yarn-debug.log* yarn-error.log*

# General
.DS_Store
.env
.env.local
*.log
.vscode/

emu-home/
check-url.mjs
check-sdk-req.mjs
emu-tmp/
.gradle-home/
.gradle/
